body{
    font-size: 62.5%;
}

h1{
    font-size: 2em;
}

.tablinks{
    font-size: 2em;
}
div.tab {

    overflow: hidden;
    background-color: darkred;
    tab-size: 44;

}

/* Style the buttons inside the tab */
div.tab button {
    -moz-tab-size: 4;
    -o-tab-size:   4;
    tab-size:      4;
    color: WHITE;
    text-align: justify;
    text-justify: inter-word;
    font-family: Verdana, Arial, Times, serif;
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 20px 50px;
    transition: 0s;
    margin-left: 3.5em;
    margin-right: 3.5em;

}

/* Change background color of buttons on hover */
div.tab button:hover {

    -moz-tab-size: 4;
    -o-tab-size:   4;
    tab-size:      4;
    background-color: white;
    color: darkred;
}

/* Create an active/current tablink class */
div.tab button.active {

    -moz-tab-size: 4;
    -o-tab-size:   4;
    tab-size:      4;
    background-color: white;
    color: darkred;


}

/* Style the tab content */
.tabcontent {
    font-family: Verdana, Arial, Times, serif;
    text-align: justify;
    text-justify: inter-word;
    display: none;
    padding: 6px 12px;
    border: 1px solid #ffffff;
    border-top: none;
    -moz-tab-size: 4;
    -o-tab-size:   4;
    tab-size:      4;

}

#Ejercicios {
    border-left: 50px;
}

#pestanas #pestana5, #cpestana5{
    background: darkred;
}

#pestanas #pestana6, #cpestana6{
    background: darkred;
}

.hd-1 {
    width: 8.33%;
}

.hd-2 {
    width: 16.66%;
}

.hd-3 {
    width: 25%;
}

.hd-4 {
    width: 33.33%;
}

.hd-5 {
    width: 41.66%;
}

.hd-6 {
    width: 50%;
}

.hd-7 {
    width: 58.33%;
}

.hd-8 {
    width: 66.66%;
}

.hd-9 {
    width: 75%;
}

.hd-10 {
    width: 83.33%;
}

.hd-11 {
    width: 91.66%;
}

.hd-12 {
    width: 100%;
}
[class*="hd-"] {
    float: left;
    padding: 15px;
    /*border: 1px solid red;*/
}

iframe{
    border: none;
}

