* {
    box-sizing: border-box;
}
.chest-col-1 {

}
.chest-col-2 {

}
.chest-col-3 {

}
.chest-col-4 {

}


[class*="chest-col-"] {
    float: left;
    height: 200px;
    width: 800px;
    margin-top: 3px;
    margin-right: 3px;
    text-align: center;
    border: 1px solid darkred;
    perspective: 3000px;
}
[class*="chest-col-"]:hover {

}


/*.row::after {
    content: "";
    clear: both;
    display: table;

}*/

.row_chest_exercises{
    margin-left: 22px;
    margin-top: 20px;

}


h1.exercise{
    color: darkred;
    align-self: center;
    padding-top: 60px;
    z-index: 0;
}

p.exercise{
    color: white;
    align-self: center;
    padding-top: 50px;
    padding-left: 20px;
    padding-right: 20px;
}

img {
    width: 25%;
    height: 99%;
    float: left;
    z-index: 1;
}

/* flip the pane when hovered */
[class*="chest-col-"]:hover .flipper, [class*="chest-col-"].hover .flipper {
    transform: rotateY(180deg);
}


/* flip speed goes here */
.flipper {
    transition: 0.6s;
    transform-style: preserve-3d;

    position: relative;
}

/* hide back of pane during swap */
.front, .back {
    backface-visibility: hidden;

    position: absolute;
    top: 0;
    left: 0;
    height: 200px;
    width: 800px;
}

/* front pane, placed above back */
.front {
    z-index: 2;
    /* for firefox 31 */
    transform: rotateY(0deg);
}

/* back, initially hidden pane */
.back {
    transform: rotateY(180deg);
    background-color: darkred;
}