* {
    box-sizing: border-box;
    width: 100%;
}
.chest-col-1 {

}
.chest-col-2 {

}
.chest-col-3 {

}
.chest-col-4 {

}


[class*="chest-col-"] {
    float: left;
    height: 200px;
    width: 800px;
    margin-top: 3px;
    margin-right: 3px;
    text-align: center;
    border: 1px solid darkred;
    perspective: 1000px;
}
[class*="chest-col-"]:hover {

}


/*.row::after {
    content: "";
    clear: both;
    display: table;

}*/

.row_chest_exercises{
    margin-left: 22px;
    margin-top: 20px;

}


h1.muscular_group{
    color: black;
    align-self: center;
    padding-top: 60px;
    z-index: 0;
}

img {
    width: 25%;
    height: 99%;
    float: left;
    z-index: 1;
}

/* flip the pane when hovered */
[class*="chest-col-"]:hover .flipper, [class*="chest-col-"].hover .flipper {
    transform: rotateY(180deg);
}


/* flip speed goes here */
.flipper {
    transition: 0.6s;
    transform-style: preserve-3d;

    position: relative;
}

/* hide back of pane during swap */
.front, .back {
    backface-visibility: hidden;

    position: absolute;
    top: 0;
    left: 0;
    height: 200px;
    width: 800px;
}

/* front pane, placed above back */
.front {
    z-index: 2;
    /* for firefox 31 */
    transform: rotateY(0deg);
}

/* back, initially hidden pane */
.back {
    transform: rotateY(180deg);
    background-color: darkred;
}

.modalDialog {
    position: fixed;
    font-family: Helvetica,Times, sans-serif;
    top: -90px;
    right: 50px;
    bottom: 0;
    left: 0;
    background:darkred;
    z-index: 99999;
    opacity:0;
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
    pointer-events: none;
    z-index: 99999;
}

.modalDialog:target {
    opacity:1;
    pointer-events: auto;
    z-index: 99999;
}

.modalDialog > div {
    width: 475px;
    position: absolute;
    margin: 10% auto;
    padding: 5px 20px 13px 20px;
    border-radius: 0px;
    background: darkred;
    background: -moz-linear-gradient(#666666,#666666);
    background: -webkit-linear-gradient(#666666,#666666);
    background: -o-linear-gradient(#666666,#666666);
    max-height: calc(100vh - 210px);
    overflow-y: auto;
    border: 0px solid #660000;
    outline-style: solid;
    outline-color: invert;
    z-index: 99999;
}

h2{font-size: 40px;}

p{font-size: 13px}

.close {
    background: #990000;
    color: black;
    line-height: 18px;
    position: absolute;
    right: 15px;
    text-align: center;
    top: 10px;
    height:23px;
    width: 23px;
    text-decoration: none;
    font-weight: 500;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    -moz-box-shadow: 1px 1px 3px #000;
    -webkit-box-shadow: 1px 1px 3px #000;
    box-shadow: 1px 1px 3px #000;
    font-size:20px;
}

.close:hover { background: #660000; }

.button  {
    background-color: #666666;
    border: none;
    color:darkred;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;}

