* {
    box-sizing: border-box;
}

.col-1 {
    background-image: url("images/pecho_PW_ajustada.jpg");
}
.col-2 {
    background-image: url("images/dorsales-PW_ajustada.jpg");
}
.col-3 {
    background-image: url("images/bicpes_PW_ajustada.jpg");
}
.col-4 {
    background-image: url("images/tricpes_PW_ajustada.jpg");
}
.col-5 {
    background-image: url("images/deltoides_PW_ajustada.jpg");
}
.col-6 {
    background-image: url("images/femorales_PW_ajustada.jpg");
}
.col-7 {
    background-image: url("images/gemelos_PW_ajustada.jpg");
}
.col-8 {
    background-image: url("images/abdominales_PW_ajustada.jpg");
}

[class*="col-"] {
    float: left;
    height: 350px;
    width: 400px;
    margin-top: 3px;
    text-align: center;
}
[class*="col-"]:hover {
    background-color: darkred;
    background-image: none;

}
[class*="col-"]:hover h1{
    display: block;

}

/*.row::after {
    content: "";
    clear: both;
    display: table;

}*/

.row{
    margin-left: 17px;
    margin-top: 20px;

}


h1.muscular_group{
    display: none;
    color: white;
    align-self: center;
    padding-top: 125px;
}

