/*Parametros generales de estilo*/

body{
    font-size: 62.5%;
    margin: 0;
    padding: 0;
}




h1{
    font-size: 2em;
}

h2 {
    font-size: 1.7em
}

h3 {
    font-size: 1.5em
}

h4 {
    font-size: 1em
}

h5 {
    font-size: 0.8em
}

h6 {
    font-size: 0.5em
}
h1, h2, h3, h4, h5, h6 {
    font-family: "Segoe UI", Arial, sans-serif;
    font-weight: 400;
    margin: 10px 0
}

html {
    box-sizing: border-box
}

*, *:before, *:after {
    box-sizing: inherit
}

/* Extract from normalize.css by Nicolas Gallagher and Jonathan Neal git.io/normalize */
html {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%
}
article, aside, details, figcaption, figure, footer, header, main, menu, nav, section, summary {
    display: block
}

audio, canvas, progress, video {
    display: inline-block
}

progress {
    vertical-align: baseline
}

audio:not([controls]) {
    display: none;
    height: 0
}


.w3-btn, .w3-button {
    margin-top: 20px;
    border: none;
    display: inline-block;
    outline: 0;
    padding: 8px 16px;
    vertical-align: middle;
    overflow: hidden;
    text-decoration: none;
    color: darkred;
    background-color: inherit;
    text-align: center;
    cursor: pointer;
    white-space: nowrap
}
.login-btn {
    margin-left: 5px;
    border: none;
    display: inline-block;
    outline: 0;
    padding: 8px 16px;
    vertical-align: middle;
    overflow: hidden;
    text-decoration: none;
    color: darkred;
    background-color: inherit;
    text-align: center;
    cursor: pointer;
    white-space: nowrap
}


.small_btn{
    margin-bottom: 2px;
   border: none;
    display: inline-block;
    outline: 0;
    padding: 4px 10px;
    vertical-align: middle;
    overflow: hidden;
    text-decoration: none;
    color: darkred;
    background-color: inherit;
    text-align: center;
    cursor: pointer;
    white-space: nowrap

}

.w3-xlarge {
    font-size: 24px !important
}
.w3-circle {
    border-radius: 50%
}

#btn-register{
    margin-top: 20px;
}

.w3-red, .w3-hover-red:hover {
    color: white !important;
    background-color: darkred !important
}
.w3-white, .w3-hover-white:hover {
    color: darkred !important;
    background-color: white !important
}
.w3-card-4, .w3-hover-shadow:hover {
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2), 0 4px 20px 0 rgba(0, 0, 0, 0.19)
}
.w3-round-large {
    border-radius: 8px
}
.w3-animate-input {
    background-position: 10px 12px;
    background-repeat: no-repeat;
    width: 100%;
    font-size: 16px;
    padding: 12px 20px 12px 40px;
    border: 1px solid #ddd;
    margin-bottom: 12px;
    transition: width 0.4s ease-in-out
}

.w3-animate-input:focus {
    width: 100% !important

}
.login-input {
    padding: 8px;
    border: none;
    border-bottom: 1px solid #ccc;
    width: 30%
}
.short-input {

    padding: 10px;
    border: none;
    border-bottom: 1px solid #ccc;
    width: 50px;
}

/****************************************
********************HEADER****************
******************************************** */
header {
    clear: both;
}
footer{
    background-color: darkred;
}

#right-content{
    background-color: darkred;
    position: fixed;
}

.icons-h{
    width: 30px;
}
/*Navigation bar**************
*********************************/
.tablinks{
    font-size: 2em;
}
div.tab {
    margin-left: 10%;
    overflow: hidden;
    background-color: darkred;

}

/* Style the buttons inside the tab */
div.tab button {
    -moz-tab-size: 4;
    -o-tab-size:   4;
    tab-size:      4;
    color: WHITE;
    text-align: center;
    text-justify: inter-word;
    font-family: Verdana, Arial, Times, serif;
    font-size: 2em;
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    transition: 0s;
    padding-top: 20px;
    padding-bottom: 20px;
    width: auto;
    padding-left: 20px;
    padding-right: 20px;
    border-right:darkred solid 1px;
}

/* Change background color of buttons on hover */
div.tab button:hover {

    -moz-tab-size: 4;
    -o-tab-size:   4;
    tab-size:      4;
    background-color: white;
    color: darkred;


}

/* Create an active/current tablink class */
div.tab button.active {

    -moz-tab-size: 4;
    -o-tab-size:   4;
    tab-size:      4;
    background-color: white;
    color: darkred;


}

/* Style the tab content */
.tabcontent {
    font-family: Verdana, Arial, Times, serif;
    text-align: justify;
    text-justify: inter-word;
    display: none;
    border: 1px solid #ffffff;
    border-top: none;
    -moz-tab-size: 4;
    -o-tab-size:   4;
    tab-size:      4;
    padding-top: 80px;


}

#pestanas #pestana5, #cpestana5{
    background: darkred;
}

#pestanas #pestana6, #cpestana6{
    background: darkred;
}


/*Division de tamaño del header*/

.hd-1 {
    width: 8.33%;
}

.hd-2 {
    width: 16.66%;
}

.hd-3 {
    width: 25%;
}

.hd-4 {
    width: 33.33%;
}

.hd-5 {
    width: 41.66%;
}

.hd-6 {
    width: 50%;
}

.hd-7 {
    width: 58.33%;
}

.hd-8 {
    width: 66.66%;
}

.hd-9 {
    width: 75%;
}

.hd-10 {
    width: 83.33%;
}

.hd-11 {
    width: 91.66%;
}

.hd-12 {
    width: 100%;
}
.hd-19 {
    width: 75%;
}
[class*="hd-"] {
    float: left;
    padding: 0;
    /*border: 1px solid red;*/
}

.user-action{
    cursor: pointer;
    padding-top: 1.6%;
    float: right;
    text-align: right;
    margin-right: 10px;

}
@media only screen and (max-width: 1050px) {
#logo{
    display: none;
}
    .hd-9{
        width: 100%;
    }
}
@media only screen and (max-width: 700px) {
    div.tab button {
        font-size: 1.8em;
    }
    .icons-h{
        width: 25px;
    }
}
@media only screen and (max-width: 580px) {
    body{
        align-items: center;
        text-align: center;
    }

    div.tab button {
        font-size: 1.5em;
        padding-right: 2.5%;
    }
    #logo{
        display: block;
    }

    .hd-3{
        width: 100%;
    }
    .icons-h{
        width: 20px;
    }

.main-content{
    width: 100%;
}
}

#tabGymTrainer.disable {
    background-color: #7f8c8d;
    color: WHITE;
}
#user-login{
    border-bottom: 1px solid #ccc;
    width: 100px;
    padding: 5px;

}
#password-login{
    border-bottom: 1px solid #ccc;
    width: 100px;
    padding: 5px;
}

#login-form{
    float: right;
    padding-top: 24px;
}

.w3-border {
    border: 1px solid #ccc !important
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: darkred;
    color: white;


}

#copyright{
    float: right;
    margin-right: 40px;
    font-size: 12px;
    display: inline-block;
}


