#map {
    height: 580px;
    width: 680px;
    border: 10px solid darkred;
    padding: 5px;
    margin: 25px;
}



html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

h1{
    font-weight: 700;
    color: #000000;
    letter-spacing: 0.2pt;
    word-spacing: 2pt;
    font-size: 185%;;
    font-family: verdana, sans-serif;
    line-height: 1;
    padding-left: 66px;
    padding-bottom: -20px;
    text-align:justify

}

